*~
*#
*.bak

/build

/CMakeCache.txt
/CPackConfig.cmake
/CPackSourceConfig.cmake
/install_manifest.txt

/bindings/vala/squash-*.vapi
/squash-*.pc

CMakeFiles
Makefile
CTestTestfile.cmake
cmake_install.cmake
/Testing
