[submodule "plugins/lz4/lz4"]
	path = plugins/lz4/lz4
	url = https://github.com/svn2github/lz4.git
[submodule "plugins/sharc/sharc"]
	path = plugins/sharc/sharc
	url = https://github.com/centaurean/sharc.git
[submodule "plugins/lzf/liblzf"]
	path = plugins/lzf/liblzf
	url = https://github.com/nemequ/liblzf.git
[submodule "plugins/doboz/doboz"]
	path = plugins/doboz/doboz
	url = https://github.com/nemequ/doboz.git
[submodule "plugins/lzmat/lzmat"]
	path = plugins/lzmat/lzmat
	url = https://github.com/nemequ/lzmat.git
[submodule "plugins/blosc/blosc"]
	path = plugins/blosc/blosc
	url = https://github.com/FrancescAlted/blosc.git
[submodule "plugins/zpaq/zpaq"]
	path = plugins/zpaq/zpaq
	url = https://github.com/nemequ/zpaq
[submodule "plugins/lzg/liblzg"]
	path = plugins/lzg/liblzg
	url = https://github.com/svn2github/liblzg.git
[submodule "plugins/fastlz/fastlz"]
	path = plugins/fastlz/fastlz
	url = https://github.com/svn2github/fastlz.git
[submodule "plugins/wflz/wflz"]
	path = plugins/wflz/wflz
	url = https://github.com/svn2github/wflz.git
[submodule "plugins/lzjb/lzjb"]
	path = plugins/lzjb/lzjb
	url = https://github.com/nemequ/lzjb.git
[submodule "squash/tinycthread"]
	path = squash/tinycthread
	url = git://gitorious.org/tinythread/nemequ-tinycthread.git
