[submodule "plugins/lz4/lz4"]
	path = plugins/lz4/lz4
	url = https://github.com/svn2github/lz4.git
[submodule "plugins/sharc/sharc"]
	path = plugins/sharc/sharc
	url = https://github.com/centaurean/sharc.git
[submodule "plugins/lzf/liblzf"]
	path = plugins/lzf/liblzf
	url = https://github.com/nemequ/liblzf.git
[submodule "plugins/doboz/doboz"]
	path = plugins/doboz/doboz
	url = https://github.com/nemequ/doboz.git
