[submodule "plugins/lzf/liblzf"]
	path = plugins/lzf/liblzf
	url = https://github.com/nemequ/liblzf.git
[submodule "plugins/doboz/doboz"]
	path = plugins/doboz/doboz
	url = https://github.com/nemequ/doboz.git
[submodule "plugins/fastlz/fastlz"]
	path = plugins/fastlz/fastlz
	url = https://github.com/svn2github/fastlz.git
[submodule "plugins/lzjb/lzjb"]
	path = plugins/lzjb/lzjb
	url = https://github.com/nemequ/lzjb.git
[submodule "squash/tinycthread"]
	path = squash/tinycthread
	url = https://github.com/tinycthread/tinycthread.git
[submodule "plugins/fari/FastARI"]
	path = plugins/fari/FastARI
	url = https://github.com/davidcatt/FastARI.git
[submodule "plugins/gipfeli/gipfeli"]
	path = plugins/gipfeli/gipfeli
	url = https://github.com/google/gipfeli.git
[submodule "plugins/lzham/lzham"]
	path = plugins/lzham/lzham
	url = https://github.com/richgel999/lzham_codec_devel.git
[submodule "plugins/brotli/brotli"]
	path = plugins/brotli/brotli
	url = https://github.com/google/brotli.git
[submodule "plugins/zpaq/zpaq"]
	path = plugins/zpaq/zpaq
	url = https://github.com/zpaq/zpaq.git
[submodule "plugins/zling/libzling"]
	path = plugins/zling/libzling
	url = https://github.com/richox/libzling.git
[submodule "plugins/zstd/zstd"]
	path = plugins/zstd/zstd
	url = https://github.com/Cyan4973/zstd.git
[submodule "plugins/ms-compress/ms-compress"]
	path = plugins/ms-compress/ms-compress
	url = https://github.com/coderforlife/ms-compress.git
[submodule "plugins/bsc/libbsc"]
	path = plugins/bsc/libbsc
	url = https://github.com/IlyaGrebnov/libbsc.git
[submodule "plugins/pithy/pithy"]
	path = plugins/pithy/pithy
	url = https://github.com/johnezang/pithy.git
[submodule "plugins/density/density"]
	path = plugins/density/density
	url = https://github.com/centaurean/density.git
[submodule "plugins/yalz77/yalz77"]
	path = plugins/yalz77/yalz77
	url = https://bitbucket.org/tkatchev/yalz77
[submodule "plugins/csc/csc"]
	path = plugins/csc/csc
	url = https://github.com/fusiyuan2010/CSC.git
[submodule "plugins/bzip2/bzip2"]
	path = plugins/bzip2/bzip2
	url = https://github.com/nemequ/bzip2.git
[submodule "plugins/lzo/lzo"]
	path = plugins/lzo/lzo
	url = https://github.com/nemequ/lzo.git
[submodule "plugins/snappy/snappy"]
	path = plugins/snappy/snappy
	url = https://github.com/google/snappy.git
[submodule "plugins/zlib/zlib"]
	path = plugins/zlib/zlib
	url = https://github.com/madler/zlib.git
[submodule "plugins/lzma/xz"]
	path = plugins/lzma/xz
	url = http://git.tukaani.org/xz.git
[submodule "plugins/lz4/lz4"]
	path = plugins/lz4/lz4
	url = https://github.com/Cyan4973/lz4.git
[submodule "plugins/wflz/wflz"]
	path = plugins/wflz/wflz
	url = https://github.com/ShaneWF/wflz.git
[submodule "plugins/lzg/liblzg"]
	path = plugins/lzg/liblzg
	url = https://github.com/mbitsnbites/liblzg.git
[submodule "plugins/zlib-ng/zlib-ng"]
	path = plugins/zlib-ng/zlib-ng
	url = https://github.com/Dead2/zlib-ng.git
	branch = develop
[submodule "plugins/brieflz/brieflz"]
	path = plugins/brieflz/brieflz
	url = https://github.com/jibsen/brieflz.git
[submodule "plugins/heatshrink/heatshrink"]
	path = plugins/heatshrink/heatshrink
	url = https://github.com/atomicobject/heatshrink.git
